.table-box{
  width: 160px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(0,0,0.05);
  //cursor: move;
  user-select: none;

  .table-header{
    background-color: #f4f4f4;
    padding: 6px 10px;
    font-weight: 400;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    min-height: 19.2px;

    cursor: pointer;

    &:hover{
      background-color: #fcf9f9;
    }

    .table-name{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.37;

      input {
        width: 100%;
        border: none;
        background: transparent;
        font-size: inherit;
        font-weight: inherit;
        text-align: center;
        outline: none;
        line-height: inherit;
        padding: 0;
        margin: 0;
      }

    }
  }

  .table-columns{

    .column-row{
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      padding: 3px 0;
      border-bottom: 1px dashed #eee;
      column-gap: 8px;
      padding: 8px;

      cursor: pointer;

      &:hover{
        background-color: #fcf9f9;
      }

      &:last-child{
        border-bottom: none;
      }

      .column-container-name{
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        display: flex;
        align-items: center;

        input {
          width: 100%;
          border: none;
          background: transparent;
          font-size: inherit;
          font-family: inherit;
          outline: none;
        }

        &.editing::after{
          content: '';
          width: 1px;
          height: 15px;
          background-color: #7e7a7a;
          animation: blink 1s step-start infinite;
          margin-left: 0px;
        }
      }
      .column-name {
        flex-shrink: 1;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }


      .colum-type{
        color: #777;
        font-size: 12px;
      }
    }
  }
}

.cursor-simulated {
  position: absolute;
  bottom: 1px;
  width: 1px;
  height: 15px;
  background-color: #7e7a7a;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

