.table-box{
  position: absolute;
  left: 0;
  top: 0;
  user-select: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  transition: transform .12s ease, box-shadow .2s;
  will-change: transform;

  &.outside {
    opacity: .4;
  }

  &.error{
    border: 2px solid #ee9696;
  }

  &:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }

  .resize-handle {
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: ew-resize;
    z-index: 10;
  }

  .table-header{
    background-color: #f4f4f4;
    padding: 6px 10px;
    font-weight: 400;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    min-height: 19.2px;

    cursor: pointer;

    &:hover{
      background-color: #fcf9f9;
    }

    .table-name{
      font-size: inherit;
      font-weight: inherit;
      line-height: 1.37;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;

      input {
        font-family: 'Satoshi', sans-serif;
        width: 100%;
        border: none;
        background: transparent;
        font-size: inherit;
        font-weight: inherit;
        text-align: center;
        outline: none;
        line-height: inherit;
        padding: 0;
        margin: 0;
      }

    }
  }

  .table-columns{

    .column-row{
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      padding: 3px 0;
      border-bottom: 1px dashed #eee;
      column-gap: 8px;
      padding: 8px;

      cursor: pointer;

      &:hover{
        background-color: #fcf9f9;
      }

      &:last-child{
        border-bottom: none;
        border-radius: 6px;
      }

      .column-container-name{
        align-items: center;
        flex: 1;

        input {
          font-family: 'Satoshi', sans-serif;
          width: 100%;
          border: none;
          background: transparent;
          font-size: inherit;
          font-weight: inherit;
          font-family: inherit;
          outline: none;
          line-height: inherit;
          padding: 0;
          margin: 0;
        }
      }
      .column-name {
        min-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }


      .colum-type{
        color: #777;
        font-size: 12px;
      }
    }
  }
}

.cursor-simulated {
  position: absolute;
  bottom: 1px;
  width: 1px;
  height: 15px;
  background-color: #7e7a7a;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

