<div
#root
class="table-box"
[class.outside]="isOutside"
[ngStyle]="{ left: x + 'px', top: y + 'px', width: width + 'px' }"
(mousedown)="onMouseDown($event)">
  <header class="table-header">
    <div class="table-name" (dblclick)="requestTableEdit()">
      @if(isEditing){
        <input
          #visibleInput
          type="text"
          [value]="table?.name"
          (input)="onEditInput($event)"
          (keydown)="onKeyDown($event)"
        />
      } @else {
        <span class="table-name" [ngStyle]="{ maxWidth: width + 'px'}">{{ table?.name || 'NuevaTabla' }}</span>
      }
    </div>
  </header>

  <body class="table-columns">
    @for(col of table?.columns; let i = $index; track col.name){
      <div class="column-row" (dblclick)="requestColumnEdit(i)">
        <div class="column-container-name" [ngStyle]="{ maxWidth: width - 50 + 'px'}">
          @if(isEditingCol === i){
            <input
              #colInput
              type="text"
              [value]="col.name"
              (input)="onEditInput($event)"
              (keydown)="onKeyDown($event)"
            />
          } @else {
            <span class="column-name" [ngStyle]="{ maxWidth: width -50 + 'px'}">{{ col.name }}</span>
          }
        </div>
        <div>
          <span class="column-type">{{ col.type }}</span>
        </div>
      </div>
    }
  </body>

  <div class="resize-handle" (mousedown)="startResize($event)"></div>
</div>
