<div class="content">
  <h2>Conectar a Base de Datos PostgreSQL</h2>
  <main class="">
    <form [formGroup]="dbForm" (ngSubmit)="onSubmit()">
      <label>Cadena de conexión: </label>
      <input
        id="connection"
        type="text"
        formControlName="connectionString"
        placeholder="postgresql://..."
      />
      @if(dbForm.get('connectionString')?.invalid && dbForm.get('connectionString')?.touched || mensageError){
        <label class="error">
          {{mensageError}}
        </label>
      }
      <button type="submit">Conectar</button>
    </form>
  </main>
</div>
