<div #root class="dashboard-shell" [class.resizing]="isResizing" (mousemove)="onMouseMoveTable($event)" (mousedown)="onMouseDownTable($event)" (contextmenu)="onContextMenu($event)">
  <div class="sidebar-resizable" [ngStyle] = "{ width: sidebarWidth + 'px' }">
    <app-sidebar (actionSelected)="onSidebarAction($event)"></app-sidebar>
    <div class="resizer" (pointerdown)="startResizing($event)"></div>
  </div>
  <app-schema-view
  #schema
  [selectionMode]="selectionMode"
  [pendingCmd]="pendingCmd"
  (selectionFinish)="selectionFinish($event)"
  (selectionStart)="selectionStart($event)"></app-schema-view>

  @if(ghost.active){
    <app-table-box
      [table]="ghost.table"
      [x]="ghost.x"
      [y]="ghost.y"
      [width]="ghost.width"
      [disabled]="false"
      [isOutside]="!ghost.overSchema"
    />
  }
</div>
