.dashboard-shell{
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &.resizing {
    cursor: col-resize;

    * {
      cursor: col-resize !important;
      user-select: none !important;
    }
  }
}

.sidebar-resizable {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  flex: 0 0 auto;
  will-change: width;
}

.resizer {
  width: 6px;
  cursor: col-resize;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  touch-action: none;
}
