<div class="sidebar-container">
  <nav class="tabs">
    <button [class.active]="activeTab === 'tools'" (click)="activeTab = 'tools'">
      Herramientas
    </button>
    <button [class.active]="activeTab === 'sql'" (click)="activeTab = 'sql'">
      Sql
    </button>
  </nav>

  <div class="tab-content">
      @if(activeTab === 'tools'){
        <ng-container>
          <ul class="tools-list">
            @for(tool of toolsDB; track tool.name){
              <li
                class="tool-item"
                [class.selected]="tool_selected === tool.name && isToolFixed"
                (mouseenter)="previewTool(tool)"
                (mouseleave)="clearOptions()"
                (click)="selectTool(tool)"
              >
                <div class="icon" [ngClass]="tool.icon"></div>
                <div class="text-icon">{{ tool.label }}</div>
              </li>
            }
          </ul>

          @if(options_active?.length){
            <div class="option option-tools">
              @for(option of options_active; track option.name){
                <div class="option-container" (click)="onClickOption({action:option.action, evento:$event})">
                  <div class="option-item" [ngClass]="option.icon"></div>
                  <div class="text-option">{{ option.name }}</div>
                </div>
              }
            </div>
          }
        </ng-container>
      }
      @else if(activeTab === 'sql'){
        <ng-container>
          <textarea class="sql-text"
          placeholder="Escribe tu consulta SQL aquí..."
          [(ngModel)]="sqlQuery">
          </textarea>
          <div class="sql-options">
            <button>Ejecutar</button>
            <button>Comentar</button>
            <button>Deshacer</button>
            <button>Limpiar</button>
            <button>Recuperar</button>
          </div>
        </ng-container>
      }
    </div>
</div>
