<div class="sidebar-container">
  <nav class="tabs">
    <button [class.active]="activeTab === 'tools'" (click)="activeTab = 'tools'">
      Herramientas
    </button>
    <button [class.active]="activeTab === 'sql'" (click)="activeTab = 'sql'">
      Sql
    </button>
  </nav>

  <div class="tab-content">
      @if(activeTab === 'tools'){
        <ng-container>
          <ul class="tools-list">
            <li class="tool-item">
              <div class="icon icon-table"></div>
              <div class="text-icon">Tabla</div>
            </li>
            <li class="tool-item">
              <div class="icon icon-column"></div>
              <div class="text-icon">Columna</div>
            </li>
            <li class="tool-item">
              <div class="icon icon-relationship"></div>
              <div class="text-icon">Relación</div>
            </li>
            <li class="tool-item">
              <div class="icon icon-primary"></div>
              <div class="text-icon">Clave</div>
            </li>
            <li class="tool-item">
              <div class="icon icon-constraint"></div>
              <div class="text-icon">Restricción</div>
            </li>
          </ul>

          <div class="option-tools">
            <div class="option-item">Crear</div>
            <div class="option-item">Editar</div>
            <div class="option-item">Eliminar</div>
            <div class="option-item">Duplicar</div>
            <div class="option-item">Reordenar</div>
            <div class="option-item">Detalles</div>
          </div>
        </ng-container>
      }
      @else if(activeTab === 'sql'){
        <ng-container>
          <textarea class="sql-text"
          placeholder="Escribe tu consulta SQL aquí..."
          [(ngModel)]="sqlQuery">
          </textarea>
          <div class="sql-options">
            <button>Ejecutar</button>
            <button>Comentar</button>
            <button>Deshacer</button>
            <button>Limpiar</button>
            <button>Recuperar</button>
          </div>
        </ng-container>
      }
    </div>
</div>
